<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
    <title>Access Denied</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    403 Access denied</h2>
                <div class="error-details">
                    Sorry :(
                </div>
                <div class="error-actions">
                    <row>
                        <a class="btn btn-primary btn-lg" href="/" th:href="@{/}"><i class="material-icons">
                            home</i> Take Me Home </a>
                    </row>
                </div>
            </div>
        </div>
    </div>
</div>