<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/employee.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/card.css}"/>
</head>
<body>
<div class="card border-primary">
    <div class="card-body text-primary">
        <form method="post" th:action="@{/add}" th:object="${employee}">
            <h5 class="card-title">Add Employee</h5>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" th:field="*{name}">
                <p class="alert alert-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
            </div>
            <div class="form-group">
                <label>Departament</label>
                <input class="form-control" th:field="*{departament}">
                <p class="alert alert-danger" th:errors="*{departament}"
                   th:if="${#fields.hasErrors('departament')}"></p>
            </div>
            <div class="form-group">
                <label>Salary</label>
                <input class="form-control" th:field="*{salary}">
                <p class="alert alert-danger" th:errors="*{salary}" th:if="${#fields.hasErrors('salary')}"></p>
            </div>
            <div class="modal-footer">
                <a href="http://localhost:8080/SpringMVC2_war_exploded/"><input type="button"
                                                                                        class="btn btn-default"
                                                                                        value="Cancel"></a>
                <input type="submit" class="btn btn-success" value="Add">
            </div>
        </form>
    </div>
</div>

</body>
</html>