<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/employee.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/card.css}" type="text/css"/>
</head>
<body>

<!--<form method="post" th:action="${flowExecutionUrl}">-->

<!--    <input class="btn btn-primary btn-lg" type="hidden" name="_eventId" value="home">-->
<!--    <input class="btn btn-primary btn-lg" type="submit" value="Cancel" />-->

<!--</form>-->

<div class="card border-primary">
    <div class="card-body text-primary">
        <form method="post" th:action="${flowExecutionUrl}" th:object="${user}">
            <h5 class="card-title">Register user</h5>
            <input name="_eventId" type="hidden" value="toRoles">
            <input name="_flowExecutionKey" th:value="${flowExecutionKey}" type="hidden"/>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" th:field="*{username}">
                <p class="alert alert-danger" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" th:field="*{password}" type="password">
                <p class="alert alert-danger" th:errors="*{password}"
                   th:if="${#fields.hasErrors('password')}"></p>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" type="submit" value="Register">
            </div>
        </form>
    </div>
</div>


</body>
</html>
