<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/employee.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/card.css}" type="text/css"/>
</head>
<body>

<div class="card border-primary">
    <div class="card-body text-primary">
        <div class="form-group">
            <form method="post" th:action="${flowExecutionUrl}" th:object="${role}">
                <label for="roleSelect">Choose role</label>
                <select class="form-control" id="roleSelect" th:field="*{role}">
                    <option th:value="ROLE_USER">User</option>
                    <option th:value="ROLE_ADMIN">Admin</option>
                </select>

                <div class="modal-footer">
                    <input name="_eventId" th:value="continue" type="hidden">
                    <input class="btn btn-success" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>